*{
     /*font-family: 'Reggae One', cursive;*/
     width: auto;
     font-family: 'Reggae One', cursive;
    padding: 0;
    box-sizing: border-box;
  }

  .topnav{
  height: 50px;
  width:auto;
  border-radius:5px;
  overflow: hidden;
  background-color:orange;
  background-attachment: fixed;
  position: sticky;
  border: 1px solid white;
  
}

.topnav a {
  text-transform: uppercase;
  float: right;
  font-family:verdna;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
  font-size: 2em
  font-style: italic;

}
a:link {
  color: green;
 
}
a:visited {
  color: black;
}
a:hover {
  color: green;
}
a:active {
  color: yellow;
}




.footer{
  height: 50px;
  width:auto;
  background-color:green;
  text-align:center;
  padding:15px 10px;
  font-size:15px;
  margin-top: 20px;
  }

